.App {
}
.hello {
}

tr {
  width: 97vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow: hidden;
}
tr th {
  width: 200px;
  border: 1px solid #d5d5d5;
}
tr td {
  width: 300px;
  text-align: center;
  border: 1px solid #d5d5d5;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
tr th {
  width: 300px;
}
